footer
  .container.text-center
    p(align='center') © 2017-2018 Denarius. All Rights Reserved
    ul.pull-right.list-inline
      li
        a(href='https://github.com/carsenk/denariusstats', target='_blank') GitHub Project
      li
        a(href='https://denarius.io', target='_blank') Denarius.io
